/*Style pour la page de messagerie*/

.conversations{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.conversation{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #babecc;
    padding: 4px;
    background-color: white;
    box-shadow: 4px 4px 8px #babecc, -4px -4px 8px #ffffff;
}

.conversation img{
    width: 150px;
    height: 150px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.message-details button{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #babecc;
    cursor: pointer;
}